<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sequence Alignment Web Interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<style>
.center {
display: flex;
justify-content: center;
align-items: center;
}
</style>

</head>
<body>
	<section class="hero is-dark">
		<div class="hero-body">
			<div class="container center">
				<h1 class="title is-size-2">Welcome to the Sequence Alignment Web Interface</h1>
				</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					<article class="media notification is-info">
						<figure class="media-left">
							<span class="icon is-medium">
							 	 <i class="fas fa-2x fa-info-circle"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-3"><a href="/info">Info</a></h1>
								<p class="is-size-4">
									Know more about Sequence Alignment
								</p>
							</div>
						</div>
					</article>
				</div>
				<div class="column">
					<article class="media notification is-primary">
						<figure class="media-left">
							<span class="icon is-medium">
							 	 <i class="fas fa-2x fa-dna"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-3"><a href="/align">Sequence Alignment</a></h1>
								<p class="is-size-4">
									Get alignment results for two sequences
								</p>
							</div>
						</div>
					</article>
			</div>
		</div>
	</div>
		
	</section>
</body>
</html>